@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
.custom-input{
  @apply py-2 px-4 rounded  w-full placeholder:text-[#00000080] placeholder:text-[12px] text-[14px] text-[black] border hover:border-[#00000080];
}
.login-input {
  @apply py-2 px-4 rounded  w-full placeholder:text-[#00000080] placeholder:text-[12px] text-[14px] text-[black] border border-[#00000080] hover:border-[#f3f3f3] focus-visible:border-[#f3f3f3] ;
}

.login-input-label{
  @apply text-[#1f2432]  text-[14px];
}
.custom-radio{
  @apply cursor-pointer select-none rounded-[20px] py-[7px] text-center peer-checked:bg-[#000c] peer-checked:text-[white] text-[14px] font-medium w-[90px] px-1 max-w-[90px] flex flex-col justify-center items-center capitalize border border-[#000c]
}
/* .sidemenu_btn{
  @apply px-4 py-3 mx-5 rounded-md  flex gap-x-3 items-center cursor-pointer  transition-colors font-semibold hover:transition-all ease-in delay-100 duration-300  text-[#f3f3f3] hover:bg-menu_secondary border border-[transparent] hover:border-[#f3f3f35e] hover:text-[white] 
} */
.disable_input{
  @apply bg-[#d2d2d259] border border-[transparent] hover:border-none
}

.login-btn{
  background: linear-gradient(54deg, #383260, #d3d0e7)
}
/* ----------------   dealer new css -------------- */

.regular-16 {
  @apply xl:text-[16px] text-[15px] font-[400];
}

.log_input-label {
  @apply text-[#262628] font-[400] text-[14px] capitalize;
}

.log_input{
  @apply px-4 py-2 2xl:h-[48px] h-[50px] border border-[#f3f3f3] bg-white text-[#262628] text-[15px] font-[400px] leading-normal focus-visible:outline-none placeholder:text-[14px] placeholder:text-[#262628] rounded-[10px]; 
}
}

.log-btn {
  background: linear-gradient(54deg, #356774, #6a8c94d1);
  transition: all 0.3s ease, color 0.3s ease;
}
.log-btn:hover{
  background: linear-gradient(54deg, #6a8c94d1, #356774);
}

@media (max-width:768px) {
  .inputDiv{
      width: 100%;
      height: fit-content !important;
  }
  .inputDiv input{
      width: 100%;
      height: fit-content !important;
  }
}